body{
  text-align:center;
  font-family:sans-serif;
}
button img{
  width:200px;
  border-radius:100px;
}
button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btnWand{
  border:none;
  border-radius:100px;
}
